<div class="login">
  <img src="assets/images/boomerang.svg" alt="boomerang" width="200px"/>

  <h4>Welcome to BoomerangPay. Please Login</h4>

  <form class="form">
    <input type="text" id="username" name="username" required placeholder="Username / Phone / Email">

    <input type="password" id="password" name="password" required placeholder="Password">

    <button type="submit">Login</button>
  </form>
  <h4>Don’t have account? <span><a routerLink="/register"> Register</a></span></h4>
</div>
