<div class="maindash">
  <div class="maindashtwo">
    <div class="left-menu">
      <img src="assets/images/boomcolor.svg" alt="boomerang" width="200px"/>
    </div>
    <div class="right-content">
      <div class="profile">
        <img src="assets/images/mugshot.png" alt="boomerang" width="50px"/>
        <div class="names">
          <p>Good Morning</p>
          <h3>Douglas Omambia</h3>
        </div>
      </div>
      <div class="search">
       <div class="inpat">
        <img src="assets/images/search.svg" alt="notifications" width="20px"/>
        <input type="text" class="form-control" placeholder="Search"/>
       </div>
        <img src="assets/images/notifications.svg" alt="notifications" width="20px" class="notify"/>
      </div>
    </div>
  </div>

</div>

