<div class="maindash">
  <div class="containerone">
    <div class="logohead">
      <img src="assets/images/boom-icon.svg" alt="boomerang" width="50px"/>
    </div>
    <div class="menuitems">
      <div class="menone">
        <img src="assets/images/assets.svg" alt="explore" width="22px" class="activenew"/>
      </div>
      <div class="menone">
        <img src="assets/images/explore.svg" alt="explore" width="22px" class="notifying"/>
      </div>
      <div class="menone">
        <img src="assets/images/swap.svg" alt="explore" width="22px" class="notifying"/>
      </div>
      <div class="menone">
        <img src="assets/images/settings.svg" alt="explore" width="22px" class="notifying"/>
      </div>
      <div class="menone">
        <img src="assets/images/musg.svg" alt="explore" width="22px" class="notifying"/>
      </div>
    </div>
    <div class="logout">
       <img src="assets/images/exit.png" alt="explore" width="22px" class="logout"/>
    </div>
  </div>
  <div class="containertwo">
    <div class="contone">
      <div class="profile-section">
        <img src="assets/images/musg.svg" alt="boomerang" width="80px" class="psec"/>
        <h3>Doulgas Omambia</h3>
        <button> <img src="assets/images/musg.svg" alt="boomerang" width="15px"/>Profile</button>
      </div>
      <div class="balance">
        <p>Total Balance</p>
        <h2>$15,586.00</h2>
         <p>USD</p>
      </div>

      <div class="dates">
       <div class="test">
        <p>Date:</p>
        <h4>01/24</h4>
       </div>
       <div class="test">
        <p>Card Status:</p>
        <h4>Active</h4>
       </div>
      </div>

      <div class="buttons">
         <button> <img src="assets/images/send.svg" alt="boomerang" width="18px"/>Send</button>
          <button> <img src="assets/images/receive.svg" alt="boomerang" width="18px"/>Receive</button>
      </div>

      <div class="walletone">
        <button class="wallet">Connect Wallet</button>
      </div>
    </div>
     <div class="contwo">
      <h1>Dashboard</h1>
      <div class="transactions">
        <div class="all-transactions">
          <h3>All Transactions</h3>
          <p>January 2024</p>
        </div>
        <div class="main-transactions">
          <div class="logocoin">
            <div class="imagearea">
              <img src="assets/images/ethereum.svg" alt="explore" width="40px" class="logout"/>
              <div class="namese">
                <h4>Ethereum</h4>
                <p>07 Jan 2024 - 22:32 PM</p>
              </div>
            </div>
             <div class="amount"> <img src="assets/images/receive.svg" alt="boomerang" width="18px"/> <p>$110.00</p> </div>
          </div>
          <div class="logocoin">
            <div class="imagearea">
              <img src="assets/images/btc.svg" alt="explore" width="40px" class="logout"/>
              <div class="namese">
                <h4>Bitcoin</h4>
                <p>07 Jan 2024 - 22:32 PM</p>
              </div>
            </div>
             <div class="amount"> <img src="assets/images/receive.svg" alt="boomerang" width="18px"/> <p>$110.00</p> </div>
          </div>
          <div class="logocoin">
            <div class="imagearea">
              <img src="assets/images/ethereum.svg" alt="explore" width="40px" class="logout"/>
              <div class="namese">
                <h4>Ethereum</h4>
                <p>07 Jan 2024 - 22:32 PM</p>
              </div>
            </div>
             <div class="amount"> <img src="assets/images/receive.svg" alt="boomerang" width="18px"/> <p>$110.00</p> </div>
          </div>

          </div>
        </div>

      <div class="section-bottom">
        <div class="bottom-div">
          <h4> Range of authorized transactions per month</h4>
          <select id="transactions" name="transactions" class="transactionsone">
            <option value="volvo">$100</option>
            <option value="saab">$200</option>
            <option value="mercedes">$300</option>
            <option value="audi">$400</option>
          </select>
        </div>
      </div>
      </div>
      <div class="conthree">
        <div class="contwest">
          <div class="search"><img src="assets/images/search.svg" alt="explore" width="22px" class="logout"/><input type="text" placeholder="Search"/></div>
          <img src="assets/images/notifications.svg" alt="explore" width="22px" class="logout"/>
        </div>


      </div>
     </div>

  </div>


