.maindash{
  display: flex;
}

.containerone{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 100vh;
  background-color: lightgray;
  padding: 1rem;
  border-radius: 0rem 2rem 2rem 0rem;
}

.menone{
  margin-bottom: 1rem;
  cursor: pointer;
  width: 100%;
}

.logout img{
  margin-bottom: 1rem;
  cursor: pointer;
}
.containertwo{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contwo{
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem
}

.contwo h1{
  font-weight: 400;
}

.transactions{
  border: lightgray .25px solid;
  border-radius: 1.25rem;
  margin-top: 2rem;
  padding: 2rem;
}

.all-transactions{
  display: flex;
  justify-content: space-between;
}

.all-transactions h3{
  font-weight: 500;
  color: #710193;
}

.all-transactions p{
  font-weight: 200;
  color: gray;
}

.contone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: .3px solid lightgray;
}

.profile-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .75rem;
}

.psec{
  border: 3px dotted grey;
  border-radius: 50%;
  padding: .5rem;
}

.profile-section button{
  display: flex;
  gap: .5rem;
  padding: .5rem 1rem;
  border-radius: 2rem;
  border: 1px solid #000;
  background-color: white;
  font-weight: 500;
}

.balance{
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  background-color: #EEDEF4;
  padding: 2rem 4rem;
  border-radius: 2rem;
}

.balance h2{
  font-size: 2.5rem;
  font-weight: 500;
  color: #710193;
}

.dates{
  width: 100%;
  padding: 0rem 4rem;
}

.test{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.test h4{
  font-weight: 500;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
}

.buttons button{
  display: flex;
  gap: .5rem;
  padding: .5rem 1rem;
  border-radius: 2rem;
  border: 1px solid #000;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
}

.buttons button:hover{
  display: flex;
  gap: .5rem;
  padding: .5rem 1rem;
  border-radius: 2rem;
  border: 1px solid #000;
  background-color: lightgrey;
  color: #710193;
  font-weight: 500;
  cursor: pointer;
}

.wallet{
  width: 100%;
  background-color: #710193;
  border: none;
  color: white;
  font-weight: 600;
  padding: 1rem ;
  border-radius: 2rem;
  cursor: pointer;
}

.wallet:hover{
  background-color: #EEDEF4;
  color: #710193;
}

.walletone{
  padding: 2rem 4rem;
  width: 100%;
}

.namese p{
  font-size: .8rem;
  color: gray;
}

.namese h4{
  font-weight: bold;
}

.imagearea{
  display: flex;
  align-items: center;
  gap: .75rem;
}

.logocoin{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  border-bottom: 1px solid #710193;
  padding: .75rem 0rem;
}

.amount{
  display: flex;
  align-items: center;
  gap: .25rem;
}

.amount p{
  font-weight: bold;
}

.section-bottom{
  margin-top: 2rem;
  padding: 2rem 2rem;
  /* border: 1px solid grey; */
  border-radius: 1rem;
  background-color: #EEDEF4;
}
.bottom-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.bottom-div h4{
  font-weight: bold;
  color: #710193;
}

.transactionsone{
  border: none;
  font-size: 1.1rem;
  background-color: none;
  padding: .5rem 1rem;
  border-radius: 1rem;
}

.conthree{
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem
}

.contwest{
  display: flex;
  gap: .75rem;
  justify-content: flex-end;
}



.search{
  border: 1px solid gray;
  display: flex;
  gap: 15px;
  padding: .75rem .75rem;
  border-radius: 2rem;
  width: 100%;
}

.search input{
  border: none;
  width: 100%;
}

