<div class="maindash">
  <div class="containerone">
    <div class="logohead">
      <img src="assets/images/boom-icon.svg" alt="boomerang" width="50px"/>
    </div>
    <div class="menuitems">
      <div class="menone">
        <img src="assets/images/assets.svg" alt="explore" width="22px" class="activenew"/>
      </div>
      <div class="menone">
        <img src="assets/images/explore.svg" alt="explore" width="22px" class="notifying"/>
      </div>
      <div class="menone">
        <img src="assets/images/swap.svg" alt="explore" width="22px" class="notifying"/>
      </div>
      <div class="menone">
        <img src="assets/images/settings.svg" alt="explore" width="22px" class="notifying"/>
      </div>
      <div class="menone">
        <img src="assets/images/musg.svg" alt="explore" width="22px" class="notifying"/>
      </div>
    </div>
    <div class="logout">
       <img src="assets/images/exit.png" alt="explore" width="22px" class="logout"/>
    </div>
  </div>
  <div class="containertwo">
    <div class="contone">
      <div class="profile-section">
        <img src="assets/images/musg.svg" alt="boomerang" width="80px" class="psec"/>
        <h3>Doulgas Omambia</h3>
        <button> <img src="assets/images/musg.svg" alt="boomerang" width="15px"/>Profile</button>
      </div>
      <div class="balance">
        <p>Total Balance</p>
        <h2>$15,586.00</h2>
         <p>USD</p>
      </div>

      <div class="dates">
       <div class="test">
        <p>Date:</p>
        <h4>01/24</h4>
       </div>
       <div class="test">
        <p>Card Status:</p>
        <h4>Active</h4>
       </div>
      </div>

      <div class="buttons">
         <button> <img src="assets/images/send.svg" alt="boomerang" width="18px"/>Send</button>
          <button> <img src="assets/images/receive.svg" alt="boomerang" width="18px"/>Receive</button>
      </div>

      <div class="walletone">
        <button class="wallet">Connect Wallet</button>
      </div>
    </div>
     <div class="contwo"></div>
      <div class="conthree"></div>
  </div>
</div>

